<head>
    <style>
        #crap {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    </style>
</head>

<body>
    <div id="crap" class="clearfix row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/SiteImages/long_carousel_pcGuy.jpg" class="w-100" style="height: 550px" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Start NOW your IDEA!</h5>
                            <p>It's never too late to start, even start over!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/SiteImages/long_carousel_work.jpg" class="w-100" style="height: 550px" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>The world is at YOUR palm</h5>
                            <p>You never know when an idea will "hit" you!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/SiteImages/long_carousel_camera.jpg" class="w-100" style="height: 550px" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Capture the world!</h5>
                            <p>Show others what you Envision!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>